<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".data.repository.shared_preference.SharedPreferenceContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mackerelfrontendaos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mackerel_frontend_aos.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".data.repository.FirebaseCloudMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".presentation.view.activity.Login"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        </activity>
        <activity android:name=".presentation.view.activity.MainActivity"
            android:theme="@style/Theme.Mackerelfrontendaos.Main"/>
        <activity android:name=".presentation.view.activity.FindId"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".presentation.view.activity.FindIdResult"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".presentation.view.activity.FindPassword"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".presentation.view.activity.FindPasswordResult"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".presentation.view.activity.Terms"/>
        <activity android:name=".presentation.view.activity.TermsDetail"
            android:theme="@style/Theme.Mackerelfrontendaos.ActionBar"/>
        <activity android:name=".presentation.view.activity.Signup"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

</manifest>